[Unit]
Description=skLinux Service
After=getty.target
Conflicts=getty@tty1.service

[Service]
#Type=oneshot
ExecStart=/usr/bin/sh /srv/skLinux/main.sh
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target

